/* Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Colors */
$color-primary: #000000;
$secondary-color: #fff;
$tertiary-color: #666666;
$fourth-color: #00C0EE;
$fifth-color: #C7C7C7;

$vector-image: url('../img/vector.png');
/* Font color */
$first-font-color: #333333;

/* Font */
$font: 'Open Sans', sans-serif;